* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    padding: 10px;
}

.blue-btn {
    background: #fff;
    border: 1px solid #6bb9de;
    border-radius: 2px;
    color: #1599d6;
    cursor: pointer;
    font-size: 11px;
    margin-right: 10px;
    padding: 3px 10px;
    text-transform: capitalize;
    white-space: nowrap;
}

.auth-section {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(54, 72, 96, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.17, 0.91) 0s;
}

.auth-section button {
    width: 80px;
    margin: 10px;
    height: 30px;
}

.auth-popap-header {
    padding: 10px;
    min-height: 32px;
    background: rgb(244, 245, 249);
    border-top: rgb(244, 245, 249);
    border-right: rgb(244, 245, 249);
    border-bottom: 1px solid rgb(221, 226, 230);
    border-left: rgb(244, 245, 249);
    border-image: initial;
    color: rgb(16, 142, 201);
    border-radius: 3px 3px 0px 0px;
}

.auth-popap {
    width: 300px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    position: relative;
    box-shadow: rgb(54 72 96) 0px 0px 16px 4px;
    background: rgb(255, 255, 255);
    margin-top: -150px;
}

.auth-section form div div:first-child {
    padding: 10px;
}

.auth-section input {
    margin-bottom: 10px;
}

.auth-section form .footer {
    border-radius: 0px 0px 3px 3px;
    background: rgb(244, 245, 249);
    text-align: center;
    border-top: 1px solid rgb(228, 232, 235);
    padding: 7px;
}


.user-list-section {
    position: relative;
    height: 400px;
    margin: 20px;
}


.table-container {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.table-container tr{
        background: #fafbfd;
        height: 31px;
        position: relative;
        transition: background cubic-bezier(.17,.67,.17,.91) 0.2s;
}

.table-container td, .table-container th{
    box-shadow: inset 1px -1px 0 0 #e4e8eb;
    color:#17293e;
    font-size: 12px;
    padding: 5px 10px;
    text-align: left;
}


.table-container th{
    background: white;
    color: crimson;
    font-size: 15px;
    overflow: hidden;
    padding: 10px 10px 11px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-container{
    display: inline-block;
    margin: 0 6px;
    min-width: 44px;
    position: relative;
    vertical-align: top;
}
